<section class="section categories-grid-section">
    <div class="container">
        <div class="title-container with-item">
        <h2 class="title">Navegue por categoria</h2>
        <a href="#" class="button">Ver todos</a>
        </div>
        <div class="grid">
        <a href="#" class="item">

            <%= image_tag src="categories/category1.jpg", class: "item-image", alt: "Categoria" %>
            <div class="item-title">Design</div>
            <p class="item-description">Confira as melhores tendências e boas práticas envolvendo design</p>
        </a>
        <a href="#" class="item">
            <%= image_tag src="categories/category2.jpg", class: "item-image", alt: "Categoria" %>
            <div class="item-title">Backend</div>
            <p class="item-description">Confira as melhores tendências e boas práticas envolvendo design</p>
        </a>
        <a href="#" class="item">
            <%= image_tag src="categories/category3.jpg", class: "item-image", alt: "Categoria" %>
            <div class="item-title">Frontend</div>
            <p class="item-description">Confira as melhores tendências e boas práticas envolvendo design</p>
        </a>
        <a href="#" class="item">
            <%= image_tag src="categories/category4.jpg", class: "item-image", alt: "Categoria" %>
            <div class="item-title">Sistemas Operacionais</div>
            <p class="item-description">Confira as melhores tendências e boas práticas envolvendo design</p>
        </a>
        <a href="#" class="item">
            <%= image_tag src="categories/category5.jpg", class: "item-image", alt: "Categoria" %>
            <div class="item-title">Segurança</div>
            <p class="item-description">Confira as melhores tendências e boas práticas envolvendo design</p>
        </a>
        <a href="#" class="item">
            <%= image_tag src="categories/category6.jpg", class: "item-image", alt: "Categoria" %>
            <div class="item-title">DevOps</div>
            <p class="item-description">Confira as melhores tendências e boas práticas envolvendo design</p>
        </a>
        <a href="#" class="item">
            <%= image_tag src="categories/category7.jpg", class: "item-image", alt: "Categoria" %>
            <div class="item-title">Marketing</div>
            <p class="item-description">Confira as melhores tendências e boas práticas envolvendo design</p>
        </a>
        <a href="#" class="item">
            <%= image_tag src="categories/category8.jpg", class: "item-image", alt: "Categoria" %>
            <div class="item-title">Cloud</div>
            <p class="item-description">Confira as melhores tendências e boas práticas envolvendo design</p>
        </a>
        </div>
    </div>
</section>