<%= render "main_banner" %>
<%= render "articles" %>
<%= render "categories" %>


<!-- <p>Qtde de variáveis: <%= ENV.size %> </p>
<p>Valor da variável DEFAULT_PASSWORD: <%= ENV['DEFAULT_PASSWORD'] %> </p> -->

<div id="articles">

</div>
