<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruby on Rails Club - Admin Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Favicon -->
    <%= favicon_link_tag asset_path("favicon.ico") %>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;600;800&display=swap"
    rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="admin-page closed">

    <aside class="admin-nav" id="adminMenu">
      <div class="row row-menu-button">
        <a href="./login.html" class="logout">
          <!-- img src="./../img/icons/white/exit.svg" alt="exit" -->
          <%= image_tag 'icons/white/exit.svg', alt: "exit" %>
        </a>
        <a href="#" id="adminMenuButton">
          <!-- img src="./../img/icons/white/menu.svg" alt="menu" -->
          <%= image_tag 'icons/white/menu.svg', alt: "menu" %>
        </a>
      </div>
      <div class="row center">
        <!-- <img src="./../img/logo.svg" alt="logo"> -->
        <a href="./dashboard.html" class="logo"><%= image_tag 'logo.svg', alt: "logo" %></a>
      </div>
      <div class="row center column">
        <h3 class="user-name">Jackson Pires</h3>
        <h4 class="user-email">jacksonpires@gmail.com</h4>
      </div>
      <div class="row">
        <nav class="menu">
          <a href="./posts.html" class="active">
            <div class="icon">
              <!-- img src="./../img/icons/white/posts.svg"-->
              <%= image_tag 'icons/white/posts.svg' %>
            </div>
            <label for="#">Posts</label>
          </a>
          <a href="#">
            <div class="icon">
              <!-- img src="./../img/icons/white/categories.svg" -->
              <%= image_tag 'icons/white/categories.svg' %>
            </div>
            <label for="#">Categorias</label>
          </a>
          <a href="#">
            <div class="icon">
              <!-- img src="./../img/icons/white/courses.svg" -->
              <%= image_tag 'icons/white/courses.svg' %>
            </div>
            <label for="#">Cursos</label>
          </a>
          <a href="#">
            <div class="icon">              
              <!-- img src="./../img/icons/white/config.svg" -->
              <%= image_tag 'icons/white/config.svg' %>
            </div>
            <label for="#">Configurações</label>
          </a>
        </nav>
      </div>
    </aside>
  
    <main class="admin-main-content">
      <h1 class="admin-title">Posts</h1>
      <div class="main-content">
        <div class="row">
          <h2 class="admin-subtitle">Listagem de posts</h2>
          <div class="buttons">
            <a href="./posts-add.html" class="button small">
              <!-- img src="./../img/icons/white/add.svg" alt="add"-->
              <%= image_tag 'icons/white/add.svg', alt: "add" %>
              Adicionar novo post
            </a>
          </div>
        </div>
        <div class="row">
          <table class="table">
            <thead>
              <tr>
                <th>Data</th>
                <th>Categoria</th>
                <th>Nome</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>23/04/2020</td>
                <td>Frontend</td>
                <td>Como criar seu primeiro projeto em Ruby on Rails</td>
                <td>
                  <div class="icons">
                    <!-- <a href="#" title="Editar"><img src="./../img/icons/gray/edit.svg"></a>
                    <a href="#" title="Visualizar"><img src="./../img/icons/gray/eye.svg"></a>
                    <a href="#" title="Deletar"><img src="./../img/icons/gray/close.svg"></a> -->

                    <a href="#" title="Editar"><%= image_tag 'icons/gray/edit.svg' %></a>
                    <a href="#" title="Visualizar"><%= image_tag 'icons/gray/eye.svg' %></a>
                    <a href="#" title="Deletar"><%= image_tag 'icons/gray/close.svg' %></a>

                  </div>
                </td>
              </tr>
              <tr>
                <td>23/04/2020</td>
                <td>Frontend</td>
                <td>Como criar seu primeiro projeto em Ruby on Rails</td>
                <td>
                  <div class="icons">
                    <a href="#" title="Editar"><img src="./../img/icons/gray/edit.svg"></a>
                    <a href="#" title="Visualizar"><img src="./../img/icons/gray/eye.svg"></a>
                    <a href="#" title="Deletar"><img src="./../img/icons/gray/close.svg"></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  
    <%#= yield %>

    <script src="./../js/admin.js"></script>
    <!-- <%= javascript_include_tag "admin", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "posts-grid", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "jquery/jquery1.min", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "slick/slick.min", "data-turbo-track": "reload" %> -->
  
  </body>

</html>

